.header-main {
	margin-top: 140px;
	transition: all 2s;
}

@media screen and (max-width: 2000px) {
	.header-main {
		margin-top: 70px;
		transition: all 2s;
}

#bestsellers{
	margin-left: 5%;
	font-family: 'New Baskerville',Baskerville,serif;
    font-weight: 500;
	letter-spacing: 0.03em;
    font-size: 24px;
	font-style: italic;
}
hr{
	margin-left: 5%;
	margin-right: 8%;
}
a:hover {
	color: #65afda;
}

small, h6, p{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size:18px;
}
.price-new, .price-old{
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-floating, .title, strong{
	color: white;
}
.title{
	color: #6cc3d5;
	text-align: center;
}

#summary {
	font-size: 14px;
	line-height: 1.5;
  }
  
  #summary p.collapse:not(.show) {
	  height: 42px !important;
	  overflow: hidden;
	
	  display: -webkit-box;
	  -webkit-line-clamp: 2;
	  -webkit-box-orient: vertical;  
  }
  
  #summary p.collapsing {
	  min-height: 42px !important;
  }
  
  #summary a.collapsed:after  {
	  content: '+ Read More';
  }
  
  #summary a:not(.collapsed):after {
	  content: '- Read Less';
  }


  body{
	background-color: #f5f5f5;
}
.Product-img img{
	width: 100%;
}
.main-section{
	font-family: 'Roboto Condensed', sans-serif;
	
}
label{
	color: white;
	font-size: 18px;
}



/* sign IN */



@import url('https://fonts.googleapis.com/css?family=Numans');



/* .containerSign{
	background: url("https://image.freepik.com/free-photo/men-women-carrying-backpack-searching-books-library_1150-24656.jpg") no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

} */

.secondcard{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0, 0, 0,0.4) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

/* proprietati pentru pagina contacte */
/* copiate */
.map-container-section {
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
  }
  .map-container-section iframe {
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
  }
  
  /* adaugate */
  .myform .itag {
	  background: rgb(108, 195, 215);
	  padding: 10px;
	  border-radius: 4px;
  }
  .ic i {
	  background: rgb(108, 195, 215);
	  padding: 15px;
	  border-radius: 100%;
  }
 
  
  .fad{
	  padding:7px 10px;
	  background: transparent;
	  border-radius: 5px;
	  transition: background 0.7s;
	  text-align: center;
	  margin-left: 9%;
  }
  .fad:hover {
	  padding:7px 10px;
	  background: rgb(108, 195, 215);
	  border-radius: 5px;
	  transition: background 0.7s;
  }
 

.myimage{
	background: url('https://image.freepik.com/free-photo/men-carrying-backpack-searching-books-library_1150-24660.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.8;
}

.myimage2{
	background: url('https://image.freepik.com/free-photo/men-women-carrying-backpack-searching-books-library_1150-24656.jpg') no-repeat ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.8;
}